body {
  background: peachpuff;
}

.container {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  width: 100vw;
}

.a {
  background-color: lightgreen;
  border: 2px solid black;
  height: 20vh;
  width: 100vw;
}

.bcd_container {
  display: flex;
  height: 20vh;
  width: 100vw;
}

.b {
  background-color: darkblue;
  border: 2px solid black;
  width: 33vw;
}

.c {
  background-color: aquamarine;
  border: 2px solid black;
  width: 33vw;
}

.d {
  background-color: lightskyblue;
  border: 2px solid black;
  width: 33vw;
}

.efg_container {
  display: flex;
  height: 20vh;
  width: 100vw;
}

.e {
  background-color: goldenrod;
  border: 2px solid black;
  width: 33vw;
}

.f {
  background-color: yellow;
  border: 2px solid black;
  width: 33vw;
}

.g {
  background-color: orange;
  border: 2px solid black;
  width: 33vw;
}

.h {
  background-color: red;
  border: 2px solid black;
  height: 40vh;
}

@media (min-width: 600px) {
  .a {
    height: 33vh;
  }

  .bcdefgh_container {
    display: flex;
    flex-wrap: nowrap;
    align-content: flex-start;
    height: 66vh;
    width: 100vw;
  }
  
  .bcdefg_container {
    display: flex;
    flex-wrap: wrap;
    height: 66vh;
    width: 75vw;
  }

  .bcd_container {
    height: 33vh;
    width: 75vw;
  }

  .b {
    height: 33vh;
    width: 25vw;
  }

  .c {
    height: 33vh;
    width: 25vw;
  }

  .d {
    height: 33vh;
    width: 25vw;
  }

  .efg_container {
    height: 33vh;
    width: 75vw;
  }

  .e {
    height: 33vh;
    width: 25vw;
  }

  .f {
    height: 33vh;
    width: 25vw;
  }

  .g {
    height: 33vh;
    width: 25vw;
  }

  .h {
    height: 66vh;
    width: 25vw;
  }
}